.travel-body {
  background: url(../img/ernieger-blue.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.barra-color{
  background-color: orange;
  height: 60vh;
}

.barra-superior{
  text-align: center;

}

.barra-botones{
margin-top: 10vh;
text-align: center;
}

div[class*="columna"]{
  min-height: 50rem;
}
div[class*="bloque"]{
  height: 25rem;
}

.logo{
  width: 300px;
  float: right;
  margin-left: 7rem;
  margin-top: 4rem;
}

.responsive-img{

}

.noticia{
  background-color: white;
}

.imagen-noticia{
  margin-top: 5vh;
}

span{
  font-color: #e8eaf6;

}

.guideline{
  text-align: left;
  margin-top: 15vh;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.info{
  font-size: 1.3rem;
  text-align: center;
}

.comentar{
  background-color: #ffffff;
  text-align: center;
}

.container{
  width: 100%;
}

.card-action{
  text-align: right;
}

.enrique{
  margin-top: 3vh;

}
