.barra-superior{

}

.fila-superior{

}

.barra-botones{

}

.cuerpo{
  background-image: url(../img/ernieger.jpg);
  background-attachment: fixed;
}

div[class*="columna"]{
  min-height: 50rem;
}
div[class*="bloque"]{
  height: 25rem;
}

.logo{
  width: 300px;
  float: center;
  margin-left: 7rem;
  margin-top: 4rem;
}

.responsive-img{

}


span{
  font-color: #e8eaf6;

}

.guideline{
  text-align: right;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.info{
  font-size: 1.3rem;
  text-align: center;
}
